[Unit]
Description=Get instance info from ec2 metadata and tag api
After=docker.service docker.socket network-online.target
Requires=docker.service docker.socket network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutSec=60
Environment="_C=instance_info"
Environment="_DI=opsgang/aws_env:stable"
EnvironmentFile=-/etc/custom/docker_image_versions
ExecStartPre=-/usr/bin/docker kill ${_C}
ExecStartPre=-/usr/bin/docker rm ${_C}
ExecStartPre=/usr/bin/docker pull ${_DI}
ExecStart=/bin/bash -c "
docker run
    --name instance_info             \
    --privileged                     \
    -v /home/core/bin:/home/core/bin \
    -v /etc/custom:/etc/custom       \
    ${_DI} /bin/bash /home/core/bin/instance_info"
ExecStop=-/usr/bin/docker kill ${_C}
ExecStopPost=-/usr/bin/docker rm -f ${_C}

[Install]
WantedBy=multi-user.target
